@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  letter-spacing: 0.5px;
  text-shadow: none;
}

p {
  font-family: 'Poppins';
  letter-spacing: 0.5px;
  text-shadow: none;
  font-size: 18px;
}

h2 {
  letter-spacing: 2.5px !important;
}


/* Footer */
.footer {
  padding: 20px;
  background-color: #020b26;
  text-align: center;

}

.footer p {
  color: #ffffff;
  margin-top: 1rem;
  font-size: 15px;
}